accelerate
beautifulsoup4
datasets
einops
jsonlines
loralib
optimum
packaging
peft @ git+https://github.com/huggingface/peft@f973b28ffa16cf025af176f6e44ec96f275c8fd6
ray==2.12.0
tensorboard
torch
torchmetrics
torchvision
tqdm
transformers>=4.46.3
transformers-stream-generator
trl>=0.16
wandb
tenacity
openai
requests
aiohttp
pyyaml
modal
rouge_score
bert_score
sympy
pandas
scikit-learn
